.header {
  background-color: #fff;
  border-radius: 50px;
  margin: 20px auto 0;
  padding: 10px 12px 10px 10px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
    width: 300px;
    height: 60px;
}